body{
    background-color: #efefef;
}
.content{
    width: 90%;
    margin: auto;
}
#corpo{
    -webkit-box-shadow: 0px 2px 6px 1px #aaa; 
    padding: 5px;
}
#cabesario{
    width: 500px; margin: auto;
}
#rodape{
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 20px 5px #555; 
    padding: 5px;
    text-align: center;
    background-color: #333333;
    color: #efefef;
}