{% extends "controles/base.html"%}

{% block title %} Controles {% endblock %}

{% block content %} 
	<p>Controles para a sala {{ sala.description }}</p>
	{% if weather  %}
		<ul class="list-goup" sty>
			<li class="list-group-item">
			Umidade
				<span class="badge">{{ weather.umidade }} °</span>
			</li>	
			<li class="list-group-item">
			Temperatura
				<span class="badge">{{ weather.temperatura }} °C</span>
			</li>
		</ul>
	{% endif%}
	{% if controles %}

			{% for controle in controles %}
			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">{{ controle.description }}</h3>
				  </div>
				  <div class="panel-body">
				    {% for comando in controle.comandos %}
						<button class="btn btn-default" onclick="sendComand('{{ comando.comando }}','{{ sala.NE }}')">{{ comando.description }}</button>
					{% endfor%}
				  </div>
				</div>
			{% endfor %}
	{% else %}
		<p>Não encontrei nenhum</p>
	{% endif %}
{% endblock %}  

