{% extends "admin/base_site.html"%}

{% block title %} Controles {% endblock %}

{% block content %} 
	<p>{{ sala.description }}</p>
	{% if weather  %}
		<p>Umidade: {{ weather.umidade }}</p>
		<p>Temperatura: {{ weather.temperatura }}</p>	
	{% endif%}
	{% if controles %}
		<ul>
			{% for controle in controles %}
			<li><a href="/controle/{{ controle.id}}/{{ sala.id }}">{{ controle.description }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Não encontrei nenhum</p>
	{% endif %}
{% endblock %}  
