{% extends "controles/base.html"%}

{% block title %} Salas{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Inicio</a>
&rsaquo; {{ bloco.description|capfirst|escape }}
</div>
{% endblock %}
{% block content %} 
	{% if salas %}
		{% for sala in salas %}
			<a class="btn btn-default" href="/controles/{{ sala.id}}">{{ sala.description }}</a>
		{% endfor %}
	{% else %}
		<div class="alert alert-warning">Nehuma sala disponvel</div>
	{% endif %}
{% endblock %}  
